@page "/git/list"
@using FOPS.Abstract.MetaInfo.Entity
@using FOPS.Abstract.MetaInfo.Server
@using FS.Extends
@using FOPS.Abstract.Builder.Server
@inject IIocManager _iocManager;
@inject NavigationManager nav;
@inject IJSRuntime js;

<div class="layui-card">
    <div class="layui-card-header" id="anchor-play-header">
        Git
        <div class="layui-right">
            <button class="layui-btn layui-btn-right" @onclick=GotoAdd><i class="am-icon-plus"></i> 添加Git</button>
        </div>
    </div>
    <div class="layui-card-body">
        <div class="layui-form layui-border-box layui-table-view" lay-filter="LAY-table-1" style=" ">
            <div class="layui-table-box">
                <div class="layui-table-header">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="auto" lay-size="sm">
                        <thead>
                        <tr>
                            <th data-field="ID">
                                <div class="layui-table-cell laytable-cell-14-0-0">
                                    <span>ID</span>
                                </div>
                            </th>
                            <th data-field="Type">
                                <div class="layui-table-cell laytable-cell-14-0-1">
                                    <span>Git名称</span>
                                </div>
                            </th>
                            <th data-field="Type">
                                <div class="layui-table-cell laytable-cell-14-0-1">
                                    <span>分支</span>
                                </div>
                            </th>
                            <th data-field="Title">
                                <div class="layui-table-cell laytable-cell-14-0-2">
                                    <span>托管地址</span>
                                </div>
                            </th>
                            <th data-field="Games">
                                <div class="layui-table-cell laytable-cell-14-0-3">
                                    <span>账户名称</span>
                                </div>
                            </th>
                            <th data-field="Type">
                                <div class="layui-table-cell laytable-cell-14-0-4">
                                    <span>上次拉取</span>
                                </div>
                            </th>
                            <th data-field="Type">
                                <div class="layui-table-cell laytable-cell-14-0-5">
                                    <span>操作</span>
                                </div>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="layui-table-body layui-table-main">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="auto" lay-size="sm">
                        <tbody>
                        @for (var index = 0; index < _lst.Count; index++)
                        {
                            var info = _lst[index];
                            <tr data-index="@index">
                                <td>
                                    <div class="layui-table-cell laytable-cell-14-0-0"> @info.Id</div>
                                </td>
                                <td data-field="Type">
                                    <div class="layui-table-cell laytable-cell-14-0-1">
                                        <a href="/git/update/@info.Id">@info.Name</a>
                                    </div>
                                </td>
                                <td data-field="Type">
                                    <div class="layui-table-cell laytable-cell-14-0-1">
                                        @info.Branch
                                    </div>
                                </td>
                                <td data-field="Title">
                                    <div class="laytable-cell-14-0-2">
                                        <a href="@info.Hub" target="_blank">@info.Hub</a>
                                    </div>
                                </td>
                                <td data-field="Items">
                                    <div class="layui-table-cell laytable-cell-14-0-3">@info.UserName</div>
                                </td>
                                <td data-field="Title">
                                    <div class="layui-table-cell laytable-cell-14-0-4">
                                        <span>@((DateTime.Now - info.PullAt).GetDateDesc())</span>
                                    </div>
                                </td>
                                <td data-field="Title">
                                    <div class="layui-table-cell laytable-cell-14-0-5">
                                        <button class="layui-btn layui-btn-sm" @onclick="() => ClearGit(info.Id)">清除</button>
                                        <button class="layui-btn layui-btn-sm" @onclick="() => PullGit(info)">拉取</button>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <PageSplit PageIndex="1" PageSize="@_pageSize" TotalCount="@_totalCount" PageUrl="/git/list/{index}"></PageSplit>
        </div>
    </div>
</div>
<style>
    .laytable-cell-14-0-0{ width: 80px; }
    .laytable-cell-14-0-1{ width: 150px; }
    .laytable-cell-14-0-2{ width: 450px; }
    .laytable-cell-14-0-3{ width: 150px; }
    .laytable-cell-14-0-4{ width: 150px; }
    .laytable-cell-14-0-5{ width: 150px; }
</style>

@code{

    private int _totalCount;
    private int _pageSize = 999;

    private List<GitVO> _lst = new();
    private bool _isFirst;

    protected override async Task OnParametersSetAsync()
    {
        if (_isFirst) return;
        _isFirst = true;

        _lst = await _iocManager.Resolve<IGitService>().ToListAsync();
        _lst = _lst.OrderByDescending(o => o.Id).ToList();
        _totalCount = _lst.Count;
    }

    private void GotoAdd()
    {
        nav.NavigateTo("/git/add");
    }

    private async Task ClearGit(int id)
    {
        var load = await js.InvokeAsync<int>("layer.load", 0, "{shade: false}");
        var gitResult = await _iocManager.Resolve<IGitOpr>().ClearAsync(id);
        await js.InvokeVoidAsync("layer.close", load);
        if (gitResult.IsError) await js.InvokeVoidAsync("layer.alert", gitResult.OutputBr, new {icon = 2, title = "清除失败"});
        else
        {
            await js.InvokeVoidAsync("layer.alert", "清除完毕", new {icon = 1});
        }
    }

    private async Task PullGit(GitVO git)
    {
        var load = await js.InvokeAsync<int>("layer.load", 0, "{shade: false}");
        var gitResult = await _iocManager.Resolve<IGitOpr>().PullAsync(git, null);
        await js.InvokeVoidAsync("layer.close", load);
        
        if (gitResult.IsError) await js.InvokeVoidAsync("layer.alert", gitResult.OutputBr, new {icon = 2, title = "拉取失败"});
        else
        {
            // 更新git拉取时间
            await _iocManager.Resolve<IGitService>().UpdateAsync(git.Id, DateTime.Now);
            await js.InvokeVoidAsync("layer.alert", gitResult.OutputBr, new {icon = 1, title = "执行结果"});
        }
    }

}