@page "/k8s/deploy/update/{id:int}"
@using Microsoft.AspNetCore.Components
@using FOPS.Abstract.K8S.Entity
@using FOPS.Abstract.K8S.Enum
@using FOPS.Abstract.K8S.Server
@using FOPS.Abstract.MetaInfo.Entity
@using FOPS.Abstract.MetaInfo.Server
@inject IIocManager _iocManager;
@inject NavigationManager nav;
@inject IJSRuntime js;

<div class="layui-card">
    <div class="layui-card-header">
        添加Yaml模板
        <div class="layui-right">
            <button class="layui-btn" @onclick="GotoList"><i class="am-icon-plus"></i> 列表</button>
        </div>
    </div>
    <div class="layui-card-body" style="padding: 15px;">
        <div class="layui-form-item">
            <label class="layui-form-label">ID</label>
            <div class="layui-input-inline">
                <label class="layui-form-label" style="text-align: left">@_info.Id</label>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">项目名称</label>
            <div class="layui-input-inline">
                <label class="layui-form-label" style="text-align: left">@_info.Name</label>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">Deployment模板</label>
                <div class="layui-input-inline">
                    <select name="modules" @bind="_info.K8STplDeployment">
                        <option value="0">不需要</option>
                        @foreach (var yamlTplVO in _lstTpl.FindAll(O => O.K8SKindType == EumK8SKind.Deployment))
                        {
                            <option value="@yamlTplVO.Id">@yamlTplVO.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">Service模板</label>
                <div class="layui-input-inline">
                    <select name="modules" @bind="_info.K8STplService">
                        <option value="0">不需要</option>
                        @foreach (var yamlTplVO in _lstTpl.FindAll(O => O.K8SKindType == EumK8SKind.Service))
                        {
                            <option value="@yamlTplVO.Id">@yamlTplVO.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">Ingress模板</label>
                <div class="layui-input-inline">
                    <select name="modules" @bind="_info.K8STplIngress">
                        <option value="0">不需要</option>
                        @foreach (var yamlTplVO in _lstTpl.FindAll(O => O.K8SKindType == EumK8SKind.Ingress))
                        {
                            <option value="@yamlTplVO.Id">@yamlTplVO.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">Config模板</label>
                <div class="layui-input-inline">
                    <select name="modules" @bind="_info.K8STplConfig">
                        <option value="0">不需要</option>
                        @foreach (var yamlTplVO in _lstTpl.FindAll(O => O.K8SKindType == EumK8SKind.Config))
                        {
                            <option value="@yamlTplVO.Id">@yamlTplVO.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">自定义变量</label>
            <div class="layui-input-block">
                <input type="text" @bind="_info.K8STplVariable" autocomplete="off" placeholder="自定义变量，K1=V1,K2=V2" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-layout-admin">
            <div class="layui-input-block">
                <div class="layui-footer" style="left: 0;">
                    <button class="layui-btn" @onclick="UpdateInfo">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
.layui-form-label {
    width: 120px;
}
</style>

@code{

    [Parameter] public int Id { get; set; }

    private ProjectVO _info = new() {};
    private List<YamlTplVO> _lstTpl = new();

    private async Task UpdateInfo()
    {
        if (Id < 1 || _info == null)
        {
            await js.InvokeVoidAsync("layer.alert", "项目不存在");
            nav.NavigateTo($"/k8s/deploy/list");
        }
        try
        {
            await _iocManager.Resolve<IProjectService>().UpdateAsync(Id, _info);
            await js.InvokeVoidAsync("layer.alert", "修改成功");
            nav.NavigateTo("/k8s/deploy/list");
        }
        catch (Exception e)
        {
            await js.InvokeVoidAsync("layer.alert", e.Message);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Id < 1 || _info == null)
        {
            await js.InvokeVoidAsync("layer.alert", "项目不存在", new {icon = 2, title = "出错了"});
            nav.NavigateTo($"/k8s/deploy/list");
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Id > 0 && _info.Id == 0)
        {
            _info = await _iocManager.Resolve<IProjectService>().ToInfoAsync(Id);
            if (_info == null)
            {
                await js.InvokeVoidAsync("layer.alert", "项目不存在", new {icon = 2, title = "出错了"});
                nav.NavigateTo($"/k8s/deploy/list");
            }

    // 模板
            _lstTpl = await _iocManager.Resolve<IYamlTplService>().ToListAsync();
            _lstTpl = _lstTpl.OrderByDescending(o => o.Id).ToList();
        }
    }

    private void GotoList()
    {
        nav.NavigateTo("/k8s/deploy/list");
    }

}