@page "/link_track/link/list"
@page "/link_track/link/list/{pageIndex:int}"
@using FOPS.Abstract.MetaInfo.Entity
@using FOPS.Abstract.MetaInfo.Server
@using FOPS.Abstract.K8S.Enum
@using Microsoft.AspNetCore.Components
@using FOPS.Abstract.K8S.Entity
@using FOPS.Abstract.Docker.Entity
@using FOPS.Abstract.Docker.Server
@using FOPS.Abstract.K8S.Server
@using FS.Core.LinkTrack
@using FS.Extends
@using FS.LinkTrack
@using FS.LinkTrack.Dal
@using Newtonsoft.Json
@inject IIocManager _iocManager;
@inject NavigationManager nav;
@inject IJSRuntime js;

<div class="layui-card">
    <div class="layui-card-header" id="anchor-play-header">
        应用
        <select style="display:inline;width: 200px;" @onchange="GroupChange">
            <option value="">全部</option>
            @foreach (var projectVO in _lstAppId)
            {
                <option value="@projectVO.AppId">@projectVO.AppId</option>
            }
        </select>
        <div class="layui-input-inline w150">
            <input type="text" class="layui-input" placeholder="请求地址" style="height: 30px;width:400px;" @bind="searchUrl">
        </div>
        <div class="layui-input-inline w100">
            <input type="text" class="layui-input" placeholder="客户端IP" style="height: 30px;width:120px;" @bind="searchIp">
        </div>
        <div class="layui-input-inline w100">
            <input type="text" class="layui-input" placeholder="耗时" style="height: 30px;width:60px;" @bind="searchUseTs">
        </div>
        排序
        <select style="display:inline;width: 200px;" @onchange="SortChange">
            <option value="0">按最新时间</option>
            <option value="60">1小时耗时最高</option>
            <option value="30">30分钟耗时最高</option>
            <option value="10">10分钟耗时最高</option>
            <option value="5">5分钟耗时最高</option>
            <option value="1">1分钟耗时最高</option>
        </select>
        <div class="layui-input-inline">
            <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="orders-market-search-submit" @onclick="GetList"><i class="am-icon-search"></i> 搜索</button>
        </div>
    </div>
    <div class="layui-card-body">
        <div class="layui-form layui-border-box layui-table-view" lay-filter="LAY-table-1" style=" ">
            <div class="layui-table-box">
                <div class="layui-table-header">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="auto" lay-size="sm">
                        <thead>
                        <tr>
                            <th data-field="ID">
                                <div class="layui-table-cell laytable-cell-14-0-0">
                                    <span>AppId</span>
                                </div>
                            </th>
                            <th data-field="Type">
                                <div class="layui-table-cell laytable-cell-14-0-1">
                                    <span>ContextId</span>
                                </div>
                            </th>
                            <th data-field="Type">
                                <div class="layui-table-cell laytable-cell-14-0-2">
                                    <span>请求时间</span>
                                </div>
                            </th>
                            <th data-field="Type">
                                <div class="layui-table-cell laytable-cell-14-0-3">
                                    <span>耗时</span>
                                </div>
                            </th>
                            <th data-field="Type">
                                <div class="layui-table-cell laytable-cell-14-0-5">
                                    <span>类型</span>
                                </div>
                            </th>
                            <th data-field="Type">
                                <div class="layui-table-cell laytable-cell-14-0-6">
                                    <span>路径</span>
                                </div>
                            </th>
                            <th data-field="Type">
                                <div class="layui-table-cell laytable-cell-14-0-7">
                                    <span>客户端IP</span>
                                </div>
                            </th>
                            <th data-field="Type">
                                <div class="layui-table-cell laytable-cell-14-0-8">
                                    <span>操作</span>
                                </div>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="layui-table-body layui-table-main">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="auto" lay-size="sm">
                        <tbody>
                        @for (var index = 0; index < _lst.Count; index++)
                        {
                            var info = _lst[index];
                            <tr data-index="@index">
                                <td>
                                    <div class="layui-table-cell laytable-cell-14-0-0"> @info.AppId</div>
                                </td>
                                <td data-field="Title">
                                    <div class="layui-table-cell laytable-cell-14-0-1">
                                        <a href="/link_track/link/info/@(info.ContextId)">@info.ContextId</a>
                                    </div>
                                </td>
                                <td data-field="Title">
                                    <div class="layui-table-cell laytable-cell-14-0-2">
                                        @info.StartTs.ToTimestamps().ToString("yyyy-MM-dd HH:mm:ss")
                                    </div>
                                </td>
                                <td data-field="Title">
                                    <div class="layui-table-cell laytable-cell-14-0-3">
                                        @if (info.UseTs >= 100)
                                        {
                                            <strong class="layui-badge layui-bg-red">@(info.UseTs) ms</strong>
                                        }
                                        else if (info.UseTs >= 50)
                                        {
                                            <strong class="layui-badge layui-bg-blue">@(info.UseTs) ms</strong>
                                        }
                                        else
                                        {
                                            <span>@(info.UseTs) ms</span>
                                        }
                                    </div>
                                </td>
                                <td data-field="Title">
                                    <div class="layui-table-cell laytable-cell-14-0-5">
                                        @info.ContentType
                                    </div>
                                </td>
                                <td data-field="Title">
                                    <div class="layui-table-left laytable-cell-14-0-6">
                                        <a href="/link_track/link/info/@(info.ContextId)">
                                            <strong class="layui-badge layui-bg-green">@info.Method</strong> @info.Path
                                        </a>
                                    </div>
                                </td>
                                <td data-field="Title">
                                    <div class="layui-table-cell laytable-cell-14-0-7">
                                        @info.RequestIp
                                    </div>
                                </td>
                                <td data-field="Title">
                                    <div class="layui-table-cell laytable-cell-14-0-8">
                                        <button class="layui-btn layui-btn-sm" @onclick="o => ShowBody(info)">查看报文</button>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <PageSplit PageIndex="@PageIndex" PageSize="@_pageSize" TotalCount="@_totalCount" PageUrl="/link_track/link/list/{index}"></PageSplit>
        </div>
    </div>
</div>
<style>
    .laytable-cell-14-0-0{ width: 130px; }
    .laytable-cell-14-0-1{ width: 160px; }
    .laytable-cell-14-0-2{ width: 150px; }
    .laytable-cell-14-0-3{ width: 100px; }
    .laytable-cell-14-0-4{ width: 180px; }
    .laytable-cell-14-0-5{ width: 180px; }
    .laytable-cell-14-0-6{ width: 500px; }
    .laytable-cell-14-0-7{ width: 180px; }
    .laytable-cell-14-0-8{ width: 150px; }
    select { width: 150px; }
</style>

@code{

    private int _lastIndex;
    private long _totalCount;
    private int _pageSize = 20;
    [Parameter]
    public int PageIndex { get; set; }
    private bool _isFirst;
    private List<LinkTrackContextPO> _lst = new();
    private List<ProjectVO> _lstAppId = new();
    private string _curAppId = "";
    private string _curSort = "0";

    private string searchUrl;
    private string searchIp;
    private long searchUseTs;

    protected override async Task OnParametersSetAsync()
    {
        if (_isFirst && _lastIndex == PageIndex) return;
        _isFirst = true;

        if (PageIndex < 1) PageIndex = 1;
        _lastIndex = PageIndex;

        _lstAppId = await _iocManager.Resolve<IProjectService>().ToAppListAsync() ?? new();
        GetList();
    }

    private void GroupChange(ChangeEventArgs args)
    {
        _curAppId = args.Value.ToString();
        GetList();
    }
    private void SortChange(ChangeEventArgs args)
    {
        _curSort = args.Value.ToString();
        GetList();
    }

    public void GetList()
    {
        searchUrl = searchUrl?.Trim();
        searchIp = searchIp?.Trim();
        var indexSet = LinkTrackEsContext.Data.LinkTrackContext;
        if (!string.IsNullOrWhiteSpace(_curAppId))
        {
            indexSet.Where(o => o.Term(t => t.AppId, _curAppId));
        }
        if (!string.IsNullOrWhiteSpace(searchUrl))
        {
            indexSet.Where(o => o.QueryString(t => t.Fields(f => f.Field(f => f.Path)).Query($"*{searchUrl}*")));
        }
        if (!string.IsNullOrWhiteSpace(searchIp))
        {
            indexSet.Where(o => o.Term(t => t.RequestIp, searchIp));
        }
        if (searchUseTs > 0)
        {
            indexSet.Where(o => o.LongRange(l => l.Field(f => f.UseTs).GreaterThanOrEquals(searchUseTs)));
        }
        
        if (_curSort == "0") indexSet.Sort(s => s.Descending(d => d.StartTs));
        else indexSet.Where(o => o.LongRange(l => l.Field(f => f.StartTs).GreaterThanOrEquals(DateTime.Now.AddMinutes(-_curSort.ConvertType(0)).ToTimestamps()))).Sort(s => s.Descending(d => d.UseTs));

        _lst = indexSet.ToList(_pageSize, PageIndex, out _totalCount);
    }

    // 显示报文详情
    private async Task ShowBody(LinkTrackContext info)
    {
        var lstContent = new List<string>();
        var useTsHtml = $"<span>整体耗时：{info.UseTs} ms</span>";
        if (info.UseTs >= 100)
        {
            useTsHtml = $"<span>整体耗时：<strong class='layui-badge layui-bg-red'>{info.UseTs} ms</strong></span>";
        }
        else if (info.UseTs >= 50)
        {
            useTsHtml = $"<span>整体耗时：<strong class='layui-badge layui-bg-blue'>{info.UseTs} ms</strong></span>";
        }

        lstContent.Add($"<pre class='layui-code layui-box layui-code-view' style='font-size: 14px;'>{info.StartTs.ToTimestamps():yyyy-MM-dd HH:mm:ss} <strong class='layui-badge layui-bg-green'>{info.ContentType}</strong> <strong class='layui-badge layui-bg-blue'>{info.RequestIp}</strong> <strong class='layui-badge layui-bg-green'>{info.Method} =></strong> {info.Path} {useTsHtml}</pre>");
        if (info.Headers.Count > 0)
        {
            lstContent.Add($"<pre class='layui-code layui-box layui-code-view' style='font-size: 14px;'><strong class='layui-badge layui-bg-green'>Header：</strong>{JsonConvert.SerializeObject(info.Headers)}</pre>");
        }
        if (!string.IsNullOrWhiteSpace(info.RequestBody))
        {
            lstContent.Add($"<pre class='layui-code layui-box layui-code-view' style='font-size: 14px;'><strong class='layui-badge layui-bg-green'>入参：</strong>{info.RequestBody}</pre>");
        }
        if (!string.IsNullOrWhiteSpace(info.ResponseBody))
        {
            lstContent.Add($"<pre class='layui-code layui-box layui-code-view' style='font-size: 14px;'><strong class='layui-badge layui-bg-green'>出参：</strong>{info.ResponseBody}</pre>");
        }

        await js.InvokeVoidAsync("layer.open", new
        {
            type = 1,
            skin = "layui-layer-molv",
            closeBtn = false,
            area = "1500px",
            anim = 10,
            shadeClose = true,
            title = $"{info.AppId} {info.ContextId}",
            content = string.Join("", lstContent)
        });
    }

}