@page "/k8s/cluster/list"
@using FOPS.Abstract.K8S.Entity
@using FOPS.Abstract.K8S.Server
@using FOPS.Abstract.MetaInfo.Server
@inject IIocManager _iocManager;
@inject NavigationManager nav;

<div class="layui-card">
    <div class="layui-card-header" id="anchor-play-header">
        集群管理
        <div class="layui-right">
            <button class="layui-btn layui-btn-right" @onclick=GotoAdd><i class="am-icon-plus"></i> 添加集群</button>
        </div>
    </div>
    <div class="layui-card-body">
        <div class="layui-form layui-border-box layui-table-view" lay-filter="LAY-table-1" style=" ">
            <div class="layui-table-box">
                <div class="layui-table-header">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="auto" lay-size="sm">
                        <thead>
                        <tr>
                            <th data-field="ID">
                                <div class="layui-table-cell laytable-cell-14-0-0">
                                    <span>ID</span>
                                </div>
                            </th>
                            <th data-field="Type">
                                <div class="layui-table-cell laytable-cell-14-0-1">
                                    <span>集群类型</span>
                                </div>
                            </th>
                            <th data-field="Title">
                                <div class="layui-table-cell laytable-cell-14-0-2">
                                    <span>集群名称</span>
                                </div>
                            </th>
                            <th data-field="Title">
                                <div class="layui-table-cell laytable-cell-14-0-3">
                                    <span>kubectl配置地址</span>
                                </div>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="layui-table-body layui-table-main">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="auto" lay-size="sm">
                        <tbody>
                        @for (var index = 0; index < _lst.Count; index++)
                        {
                            var info = _lst[index];
                            <tr data-index="@index">
                                <td>
                                    <div class="layui-table-cell laytable-cell-14-0-0"> @info.Id</div>
                                </td>
                                <td data-field="Type">
                                    <div class="layui-table-cell laytable-cell-14-0-1">
                                        @info.RuntimeEnvType.ToString()
                                    </div>
                                </td>
                                <td data-field="Title">
                                    <div class="layui-table-cell laytable-cell-14-0-2">
                                        <a href="/k8s/cluster/update/@info.Id">@info.Name</a>
                                    </div>
                                </td>
                                <td data-field="Type">
                                    <div class="layui-table-cell laytable-cell-14-0-3">
                                        @info.Config
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <PageSplit PageIndex="1" PageSize="@_pageSize" TotalCount="@_totalCount" PageUrl="/k8s/cluster/list/{index}"></PageSplit>
        </div>
    </div>
</div>
<style>
    .laytable-cell-14-0-0{ width: 80px; }
    .laytable-cell-14-0-1{ width: 150px; }
    .laytable-cell-14-0-2{ width: 200px; }
    .laytable-cell-14-0-3{ width: 500px; }
</style>

@code{

    private int _totalCount;
    private int _pageSize = 999;

    private List<ClusterVO> _lst = new();

    protected override async Task OnParametersSetAsync()
    {
        _lst = await _iocManager.Resolve<IClusterService>().ToListAsync();
        _lst = _lst.OrderByDescending(o => o.Id).ToList();
        _totalCount = _lst.Count;
    }

    private void GotoAdd()
    {
        nav.NavigateTo("/k8s/cluster/add");
    }
}