@page "/project/add"
@using FOPS.Abstract.MetaInfo.Entity
@using FOPS.Abstract.MetaInfo.Server
@using Microsoft.AspNetCore.Components
@using FOPS.Abstract.K8S.Enum
@using FOPS.Abstract.K8S.Entity
@using FOPS.Abstract.Docker.Entity
@using FOPS.Abstract.Docker.Server
@using FOPS.Abstract.K8S.Server
@inject IIocManager _iocManager;
@inject NavigationManager nav;
@inject IJSRuntime js;

<div class="layui-row layui-col-space15">
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">
                添加项目
                <div class="layui-right">
                    <button class="layui-btn" @onclick="GotoList"><i class="am-icon-plus"></i> 列表</button>
                </div>
            </div>
            <div class="layui-card-body layui-row layui-col-space10">
                <div class="layui-form-item">
                    <label class="layui-form-label">项目组</label>
                    <div class="layui-input-inline">
                        <select @bind="_info.GroupId">
                            @foreach (var gitVO in _lstGroup)
                            {
                                <option value="@gitVO.Id">@gitVO.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">项目名称</label>
                    <div class="layui-input-inline">
                        <input type="text" @bind="_info.Name" autocomplete="off" placeholder="请输入项目名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">程序入口点</label>
                    <div class="layui-input-inline">
                        <input type="text" @bind="_info.EntryName" autocomplete="off" placeholder="Docker启动的程序名" class="layui-input" style="width:300px;">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">程序启动端口</label>
                    <div class="layui-input-inline">
                        <input type="text" @bind="_info.EntryPort" autocomplete="off" placeholder="web启动后监听的端口（Docker）" class="layui-input" style="width:300px;">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">Git仓库</label>
                        <div class="layui-input-inline">
                            <select @bind="_info.GitId">
                                @foreach (var gitVO in _lstGit)
                                {
                                    <option value="@gitVO.Id">@gitVO.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">自定义变量</label>
                    <div class="layui-input-inline">
                        <input type="text" @bind="_info.K8STplVariable" autocomplete="off" placeholder="自定义变量，K1=V1,K2=V2" class="layui-input" style="width:500px;">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">编译目录</label>
                    <div class="layui-input-inline">
                        <input type="text" @bind="_info.Path" autocomplete="off" placeholder="请输入项目编译的目录" class="layui-input" style="width:500px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">K8S模板</div>
            <div class="layui-card-body layui-row layui-col-space10">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">Deployment模板</label>
                        <div class="layui-input-inline">
                            <select name="modules" @bind="_info.K8STplDeployment">
                                <option value="0">不需要</option>
                                @foreach (var yamlTplVO in _lstTpl.FindAll(O => O.K8SKindType == EumK8SKind.Deployment))
                                {
                                    <option value="@yamlTplVO.Id">@yamlTplVO.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">Service模板</label>
                        <div class="layui-input-inline">
                            <select name="modules" @bind="_info.K8STplService">
                                <option value="0">不需要</option>
                                @foreach (var yamlTplVO in _lstTpl.FindAll(O => O.K8SKindType == EumK8SKind.Service))
                                {
                                    <option value="@yamlTplVO.Id">@yamlTplVO.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">Ingress模板</label>
                        <div class="layui-input-inline">
                            <select name="modules" @bind="_info.K8STplIngress">
                                <option value="0">不需要</option>
                                @foreach (var yamlTplVO in _lstTpl.FindAll(O => O.K8SKindType == EumK8SKind.Ingress))
                                {
                                    <option value="@yamlTplVO.Id">@yamlTplVO.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">Config模板</label>
                        <div class="layui-input-inline">
                            <select name="modules" @bind="_info.K8STplConfig">
                                <option value="0">不需要</option>
                                @foreach (var yamlTplVO in _lstTpl.FindAll(O => O.K8SKindType == EumK8SKind.Config))
                                {
                                    <option value="@yamlTplVO.Id">@yamlTplVO.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">
                镜像
            </div>
            <div class="layui-card-body layui-row layui-col-space10">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">镜像仓库</label>
                        <div class="layui-input-inline">
                            <select @bind="_info.DockerHub">
                                @foreach (var dockerHubVO in _lstDockerHub)
                                {
                                    <option value="@dockerHubVO.Id">@dockerHubVO.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">Dockerfile</label>
                        <div class="layui-input-inline">
                            <select @bind="_info.DockerfileTpl">
                                @foreach (var dockerfileTplVO in _lstDockerfileTpl)
                                {
                                    <option value="@dockerfileTplVO.Id">@dockerfileTplVO.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="layui-footer" style="left: 0;">
    <button class="layui-btn" @onclick="AddInfo">添加</button>
</div>
<style>
.layui-form-label {
    width: 120px;
}
</style>

@code{

    private readonly ProjectVO _info = new() {EntryPort = 80};
    private List<YamlTplVO> _lstTpl = new();
    private List<GitVO> _lstGit = new();
    private List<ProjectGroupVO> _lstGroup = new();
    private List<DockerfileTplVO> _lstDockerfileTpl = new();
    private List<DockerHubVO> _lstDockerHub = new();

    protected override async Task OnInitializedAsync()
    {
        _lstGroup = await _iocManager.Resolve<IProjectGroupService>().ToListAsync();
        _lstGit = await _iocManager.Resolve<IGitService>().ToListAsync();
        _lstDockerfileTpl = await _iocManager.Resolve<IDockerfileTplService>().ToListAsync();
        _lstDockerHub = await _iocManager.Resolve<IDockerHubService>().ToListAsync();

    // 模板
        _lstTpl = await _iocManager.Resolve<IYamlTplService>().ToListAsync();
        _lstTpl = _lstTpl.OrderByDescending(o => o.Id).ToList();

        _info.GroupId = (_lstGroup.FirstOrDefault()?.Id).GetValueOrDefault();
        _info.GitId = (_lstGit.FirstOrDefault()?.Id).GetValueOrDefault();
        _info.DockerHub = (_lstDockerHub.FirstOrDefault()?.Id).GetValueOrDefault();
        _info.DockerfileTpl = (_lstDockerfileTpl.FirstOrDefault()?.Id).GetValueOrDefault();
    }

    private async Task AddInfo()
    {
        try
        {
            if (_info.Name == null || _info.GitId == 0 || _info.GroupId == 0)
            {
                throw new Exception("项目组、项目名称、托管地址必须填写。");
            }
            if (string.IsNullOrWhiteSpace(_info.Path)) _info.Path = "/";
            else if (!_info.Path.StartsWith('/')) _info.Path = "/" + _info.Path;

            await _iocManager.Resolve<IProjectService>().AddAsync(_info);
            await js.InvokeVoidAsync("layer.alert", "添加成功", new {icon = 1});
            nav.NavigateTo("/project/list");
        }
        catch (Exception e)
        {
            await js.InvokeVoidAsync("layer.alert", e.Message, new {icon = 2, title = "出错了"});
        }
    }

    private void GotoList()
    {
        nav.NavigateTo("/project/list");
    }

}