@page "/project/list"
@using FOPS.Abstract.MetaInfo.Entity
@using FOPS.Abstract.MetaInfo.Server
@inject IIocManager _iocManager;
@inject NavigationManager nav;

<div class="layui-card">
    <div class="layui-card-header" id="anchor-play-header">
        项目
        <div class="layui-right">
            <button class="layui-btn layui-btn-right" @onclick=GotoAdd><i class="am-icon-plus"></i> 添加项目</button>
        </div>
    </div>
    <div class="layui-card-body">
        <div class="layui-form layui-border-box layui-table-view" lay-filter="LAY-table-1" style=" ">
            <div class="layui-table-box">
                <div class="layui-table-header">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="auto" lay-size="sm">
                        <thead>
                        <tr>
                            <th data-field="ID" data-key="14-0-0">
                                <div class="layui-table-cell laytable-cell-14-0-0">
                                    <span>ID</span>
                                </div>
                            </th>
                            <th data-field="Type" data-key="14-0-1">
                                <div class="layui-table-cell laytable-cell-14-0-1">
                                    <span>项目名称</span>
                                </div>
                            </th>
                            <th data-field="Title" data-key="14-0-2">
                                <div class="layui-table-cell laytable-cell-14-0-2">
                                    <span>GIT地址</span>
                                </div>
                            </th>
                            <th data-field="Title" data-key="14-0-3">
                                <div class="layui-table-cell laytable-cell-14-0-3">
                                    <span>编译路径</span>
                                </div>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="layui-table-body layui-table-main">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="auto" lay-size="sm">
                        <tbody>
                        @for (var index = 0; index < _lst.Count; index++)
                        {
                            var info = _lst[index];
                            <tr data-index="@index">
                                <td>
                                    <div class="layui-table-cell laytable-cell-14-0-0"> @info.Id</div>
                                </td>
                                <td data-field="Type" data-key="14-0-1">
                                    <div class="layui-table-cell laytable-cell-14-0-1">
                                        <a href="/project/update/@info.Id">@info.Name</a>
                                    </div>
                                </td>
                                <td data-field="Title" data-key="14-0-2">
                                    <div class="laytable-cell-14-0-2">
                                        <a href="@info.GitHub" target="_blank">@info.GitId 【@info.GitName】@info.GitHub</a>
                                    </div>
                                </td>
                                <td data-field="Title" data-key="14-0-3">
                                    <div class="laytable-cell-14-0-3">
                                        @info.Path
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <PageSplit PageIndex="1" PageSize="@_pageSize" TotalCount="@_totalCount" PageUrl="/project/list/{index}"></PageSplit>
        </div>
    </div>
</div>
<style>
    .laytable-cell-14-0-0{ width: 80px; }
    .laytable-cell-14-0-1{ width: 150px; }
    .laytable-cell-14-0-2{ width: 500px; }
    .laytable-cell-14-0-3{ width: 500px; }
</style>

@code{

    private int _totalCount;
    private int _pageSize = 999;

    private List<ProjectVO> _lst = new();
    private List<GitVO> _lstGit = new();

    protected override async Task OnParametersSetAsync()
    {
        _lstGit = await _iocManager.Resolve<IGitService>().ToListAsync();
        _lst = await _iocManager.Resolve<IProjectService>().ToListAsync();
        _lst = _lst.OrderByDescending(o => o.Id).ToList();
        _totalCount = _lst.Count;

        foreach (var projectVO in _lst)
        {
            var gitVO = _lstGit.Find(o => o.Id == projectVO.GitId);
            if (gitVO == null) continue;
            projectVO.GitName = gitVO.Name;
            projectVO.GitHub = gitVO.Hub;
        }
    }

    private void GotoAdd()
    {
        nav.NavigateTo("/project/add");
    }

}