@page "/project/add"
@using Microsoft.AspNetCore.Components
@using FOPS.Domain.Build.Enum
@using FS.Extends
@using FOPS.Application.Build.Project.Entity
@using FOPS.Application.Build.ProjectGroup
@using FOPS.Application.Build.ProjectGroup.Entity
@using FOPS.Application.Build.YamlTpl
@using FOPS.Application.Build.YamlTpl.Entity
@using FOPS.Application.Build.Git.Entity
@using FOPS.Application.Build.Project
@using FOPS.Application.Build.DockerfileTpl.Entity
@using FOPS.Application.Build.DockerHub
@using FOPS.Application.Build.DockerHub.Entity
@using FOPS.Application.Build.Git
@using FOPS.Application.Build.DockerfileTpl

@inject NavigationManager Nav;
@inject IJSRuntime Js;
@inject ProjectGroupApp ProjectGroupApp;
@inject GitApp GitApp;
@inject DockerfileTplApp DockerfileTplApp;
@inject ProjectApp ProjectApp;
@inject DockerHubApp DockerHubApp;
@inject YamlTplApp YamlTplApp;

<div class="layui-row layui-col-space15">
<div class="layui-col-md6">
    <div class="layui-card">
        <div class="layui-card-header">
            添加项目
            <div class="layui-right">
                <button class="layui-btn" @onclick="GotoList"><i class="am-icon-plus"></i> 列表</button>
            </div>
        </div>
        <div class="layui-card-body layui-row layui-col-space10">
            <div class="layui-form-item">
                <label class="layui-form-label">项目组</label>
                <div class="layui-input-inline">
                    <select @bind="_info.GroupId">
                        @foreach (var gitVO in _lstGroup)
                        {
                            <option value="@gitVO.Id">@gitVO.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">项目名称</label>
                <div class="layui-input-inline">
                    <input type="text" @bind="_info.Name" autocomplete="off" placeholder="与K8S中的容器组名称一致" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">应用ID</label>
                <div class="layui-input-inline">
                    <input type="text" @bind="_info.AppId" autocomplete="off" placeholder="请输入应用ID（链路追踪）" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">程序入口点</label>
                <div class="layui-input-inline">
                    <input type="text" @bind="_info.EntryPoint" autocomplete="off" placeholder="Docker启动的程序名" class="layui-input" style="width:300px;">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">程序启动端口</label>
                <div class="layui-input-inline">
                    <input type="text" @bind="_info.EntryPort" autocomplete="off" placeholder="web启动后监听的端口（Docker）" class="layui-input" style="width:300px;">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">访问域名</label>
                <div class="layui-input-inline">
                    <input type="text" @bind="_info.Domain" autocomplete="off" placeholder="不带http://" class="layui-input" style="width:300px;">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">自定义变量</label>
                <div class="layui-input-inline">
                    <input type="text" @bind="_info.K8STplVariable" autocomplete="off" placeholder="自定义变量，K1=V1,K2=V2" class="layui-input" style="width:500px;">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">编译目录</label>
                <div class="layui-input-inline">
                    <input type="text" @bind="_info.Path" autocomplete="off" placeholder="请输入项目编译的目录" class="layui-input" style="width:500px;">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layui-col-md6">
    <div class="layui-card">
        <div class="layui-card-header">K8S</div>
        <div class="layui-card-body layui-row layui-col-space10">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">Controllers模板</label>
                    <div class="layui-input-inline">
                        <select name="modules" @bind="_info.K8STplDeployment">
                            <option value="0">不需要</option>
                            @foreach (var yamlTplVO in _lstTpl.FindAll(o => o.K8SKindType == EumK8SKind.Controllers))
                            {
                                <option value="@yamlTplVO.Id">@yamlTplVO.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">Config模板</label>
                    <div class="layui-input-inline">
                        <select name="modules" @bind="_info.K8STplConfig">
                            <option value="0">不需要</option>
                            @foreach (var yamlTplVO in _lstTpl.FindAll(o => o.K8SKindType == EumK8SKind.Config))
                            {
                                <option value="@yamlTplVO.Id">@yamlTplVO.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">Service模板</label>
                    <div class="layui-input-inline">
                        <select name="modules" @bind="_info.K8STplService">
                            <option value="0">不需要</option>
                            @foreach (var yamlTplVO in _lstTpl.FindAll(o => o.K8SKindType == EumK8SKind.Service))
                            {
                                <option value="@yamlTplVO.Id">@yamlTplVO.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">Ingress模板</label>
                    <div class="layui-input-inline">
                        <select name="modules" @bind="_info.K8STplIngress">
                            <option value="0">不需要</option>
                            @foreach (var yamlTplVO in _lstTpl.FindAll(o => o.K8SKindType == EumK8SKind.Ingress))
                            {
                                <option value="@yamlTplVO.Id">@yamlTplVO.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">部署类型</label>
                <div class="layui-input-block">
                    <select @bind="_info.K8sControllersType">
                        <option value="">全部</option>
                        @foreach (var eumK8SControllers in typeof(EumK8sControllers).ToList<EumK8sControllers>())
                        {
                            <option value="@eumK8SControllers">@(eumK8SControllers.ToString())</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">
            仓库
        </div>
        <div class="layui-card-body layui-row layui-col-space10">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">Docker仓库</label>
                    <div class="layui-input-inline">
                        <select @bind="_info.DockerHub">
                            @foreach (var dockerHubVO in _lstDockerHub)
                            {
                                <option value="@dockerHubVO.Id">@dockerHubVO.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">Git仓库</label>
                    <div class="layui-input-inline">
                        <select @bind="_info.GitId">
                            <option value="0">不选择</option>
                            @foreach (var gitVO in _lstGit)
                            {
                                <option value="@gitVO.Id">@gitVO.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">依赖仓库</label>
                <div class="layui-input-block">
                    @foreach (var gitVO in _lstGit)
                    {
                        <div class="layui-unselect layui-form-checkbox layui-form-checked" lay-skin="primary" style="cursor: auto;">
                            <input type="checkbox" @bind="_selectGits[gitVO.Id]"/>
                            <span>@gitVO.Name</span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">
            构建
            @if (_info.BuildType == EumBuildType.Shell)
            {
                <div class="layui-right">
                    <button class="layui-btn layui-btn-sm" @onclick="ShowEnvTips">查看环境变量</button>
                </div>
            }
        </div>
        <div class="layui-card-body layui-row layui-col-space10">
            <div class="layui-form-item">
                @* <div class="layui-inline"> *@
                @*     <label class="layui-form-label">构建方式</label> *@
                @*     <div class="layui-input-inline"> *@
                @*         <select @bind="_info.BuildType"> *@
                @*             @foreach (var eumBuildType in Enum.GetValues<EumBuildType>()) *@
                @*             { *@
                @*                 <option value="@eumBuildType.ToString()">@eumBuildType.GetName()</option> *@
                @*             } *@
                @*         </select> *@
                @*     </div> *@
                @* </div> *@

                <div class="layui-inline">
                    <label class="layui-form-label">Dockerfile</label>
                    <div class="layui-input-inline">
                        <select @bind="_info.DockerfileTpl">
                            @foreach (var dockerfileTplVO in _lstDockerfileTpl)
                            {
                                <option value="@dockerfileTplVO.Id">@dockerfileTplVO.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            @if (_info.BuildType == EumBuildType.Shell)
            {
                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left:0">
                        <textarea @bind="_info.ShellScript" placeholder="Shell脚本" class="layui-textarea" style="margin-top: 0; margin-bottom: 0; height: 800px;"></textarea>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
</div>

<div class="layui-footer" style="left: 0;">
    <button class="layui-btn" @onclick="AddInfo">添加</button>
</div>
<style>
.layui-form-label {
    width: 120px;
}
</style>

@code{

    private readonly ProjectDTO _info = new()
    {
        EntryPort = 80
    };
    private List<YamlTplDTO> _lstTpl = new();
    private List<GitDTO> _lstGit = new();
    private List<ProjectGroupDTO> _lstGroup = new();
    private List<DockerfileTplDTO> _lstDockerfileTpl = new();
    private List<DockerHubDTO> _lstDockerHub = new();
    private Dictionary<int, bool> _selectGits = new();
    private bool _isFirst;

    protected override async Task OnInitializedAsync()
    {
        if (_isFirst) return;
        _isFirst = true;

        _lstGroup = await ProjectGroupApp.ToListAsync() ?? new();
        _lstGit = await GitApp.ToListAsync() ?? new();
        _selectGits = _lstGit.ToDictionary(o => o.Id, _ => false);
        _lstDockerfileTpl = await DockerfileTplApp.ToListAsync() ?? new();
        _lstDockerHub = await DockerHubApp.ToListAsync() ?? new();

    // 模板
        _lstTpl = await YamlTplApp.ToListAsync() ?? new();
        _lstTpl = _lstTpl.OrderByDescending(o => o.Id).ToList();

        _info.GroupId = (_lstGroup.FirstOrDefault()?.Id).GetValueOrDefault();
        _info.GitId = (_lstGit.FirstOrDefault()?.Id).GetValueOrDefault();
        _info.DockerHub = (_lstDockerHub.FirstOrDefault()?.Id).GetValueOrDefault();
        _info.DockerfileTpl = (_lstDockerfileTpl.FirstOrDefault()?.Id).GetValueOrDefault();
    }

    private async Task AddInfo()
    {
        try
        {
            if (_info.Name == null || _info.GroupId == 0)
            {
                throw new Exception("项目组、项目名称必须填写。");
            }

            _info.DependentGitIds = _selectGits.Where(o => o.Value).Select(o => o.Key).ToList();
            await ProjectApp.AddAsync(_info);
            await Js.InvokeVoidAsync("layer.msg", "添加成功", new
            {
                icon = 1
            });
            Nav.NavigateTo("/project/list");
        }
        catch (Exception e)
        {
            await Js.InvokeVoidAsync("layer.alert", e.Message, new
            {
                icon = 2,
                title = "出错了"
            });
        }
    }

    private void GotoList()
    {
        Nav.NavigateTo("/project/list");
    }

    private async Task ShowEnvTips()
    {
        await Js.InvokeVoidAsync("layer.open", new
        {
            type = 1,
            skin = "layui-layer-molv",
            closeBtn = false,
            area = "500px",
            anim = 5,
            shadeClose = true,
            content = "<div style='padding:20px;'>" +
                      "<ul>" +
                      "<li>Fops_DirRoot：Fops根目录</li>" +
                      "<li>NpmModules_DirRoot：NpmModules目录</li>" +
                      "<li>Git_Hub：Git仓库地址</li>" +
                      "<li>Git_DirRoot：Git仓库源代码目录</li>" +
                      "<li>Build_Number：构建版本号</li>" +
                      "<li>Project_Name：项目名称</li>" +
                      "<li>Project_Domain：项目访问域名</li>" +
                      "<li>Project_EntryPoint：程序入口名</li>" +
                      "<li>Project_EntryPort：程序启动端口</li>" +
                      "<li>Project_ReleaseDirRoot：编译保存的目录</li>" +
                      "<li>Project_SourceDirRoot：项目源代码目录</li>" +
                      "<li>Project_GitDirRoot：Git仓库源代码根目录</li>" +
                      "<li>Docker_FilePath：Dockerfile文件路径</li>" +
                      "<li>Docker_Hub：Docker仓库地址</li>" +
                      "<li>Docker_Image：Docker镜像</li>" +
                      "<li>ReleaseDirRoot：编译保存的根目录</li>" +
                      "<li>Kube_Path：kubectlConfig配置</li>" +
                      "</ul>" +
                      "</div>"
        });
    }

}