@page "/fss/task_group/list"
@page "/fss/task_group/list/{pageIndex:int}"
@using FOPS.Abstract.Fss.Server
@using FOPS.Abstract.Fss.Entity
@using FS.Extends
@inject IIocManager _iocManager;
@inject NavigationManager nav;
@inject IJSRuntime js;

<div class="layui-card">
    <div class="layui-card-header" id="anchor-play-header">
        任务组
        <div class="layui-right">
            <button class="layui-btn layui-btn-right" @onclick=RefreshCache><i class="am-icon-plus"></i> 刷新缓存</button>
            <button class="layui-btn layui-btn-right" @onclick=GotoAdd><i class="am-icon-plus"></i> 添加任务组</button>
        </div>
    </div>
    <div class="layui-card-body">
        <div class="layui-form layui-border-box layui-table-view" lay-filter="LAY-table-1" style=" ">
            <div class="layui-table-box">
                <div class="layui-table-header">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="auto" lay-size="sm">
                        <thead>
                        <tr>
                            <th data-field="ID">
                                <div class="layui-table-cell laytable-cell-14-0-0">
                                    <span>组ID</span>
                                </div>
                            </th>
                            <th data-field="Type">
                                <div class="layui-table-cell laytable-cell-14-0-1">
                                    <span>任务ID</span>
                                </div>
                            </th>
                            <th data-field="Title">
                                <div class="layui-table-cell laytable-cell-14-0-2">
                                    <span>任务标题</span>
                                </div>
                            </th>
                            <th data-field="Games">
                                <div class="layui-table-cell laytable-cell-14-0-3">
                                    <span>下次执行</span>
                                </div>
                            </th>
                            <th data-field="Games">
                                <div class="layui-table-cell laytable-cell-14-0-4">
                                    <span>计划设置</span>
                                </div>
                            </th>
                            <th data-field="Games">
                                <div class="layui-table-cell laytable-cell-14-0-5">
                                    <span>活动时间</span>
                                </div>
                            </th>
                            <th data-field="Games">
                                <div class="layui-table-cell laytable-cell-14-0-6">
                                    <span>上次完成</span>
                                </div>
                            </th>
                            <th data-field="Games">
                                <div class="layui-table-cell laytable-cell-14-0-7">
                                    <span>平均耗时</span>
                                </div>
                            </th>
                            <th data-field="Games">
                                <div class="layui-table-cell laytable-cell-14-0-8">
                                    <span>运行次数</span>
                                </div>
                            </th>
                            <th data-field="Type">
                                <div class="layui-table-cell laytable-cell-14-0-9">
                                    <span>操作</span>
                                </div>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="layui-table-body layui-table-main">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="auto" lay-size="sm">
                        <tbody>
                        @for (var index = 0; index < _lst.Count; index++)
                        {
                            var info = _lst[index];
                            <tr data-index="@index">
                                <td>
                                    <div class="laytable-cell-14-0-0">【@(info.IsEnable ? "开启" : "停止")】 @info.Id</div>
                                </td>
                                <td data-field="Type">
                                    <div class="layui-table-cell laytable-cell-14-0-1">@info.TaskId</div>
                                </td>
                                <td data-field="Title">
                                    <div class="laytable-cell-14-0-2">
                                        <a href="/fss/task_group/tasklist/@info.Id">【@info.JobName】@info.Caption</a>
                                    </div>
                                </td>
                                <td data-field="Items">
                                    <div class="layui-table-cell laytable-cell-14-0-3">@info.NextAt.ToString("yyyy-MM-dd HH:mm:ss")</div>
                                </td>
                                <td data-field="Games">
                                    <div class="layui-table-cell laytable-cell-14-0-4">@GetTimeSetting(info)</div>
                                </td>
                                <td data-field="Games">
                                    <div class="layui-table-cell laytable-cell-14-0-5">@info.ActivateAt.ToString("yyyy-MM-dd HH:mm:ss")</div>
                                </td>
                                <td data-field="Games">
                                    <div class="layui-table-cell laytable-cell-14-0-6">@info.LastRunAt.ToString("yyyy-MM-dd HH:mm:ss")</div>
                                </td>
                                <td data-field="Games">
                                    <div class="layui-table-cell laytable-cell-14-0-7">@info.RunSpeedAvg</div>
                                </td>
                                <td data-field="Games">
                                    <div class="layui-table-cell laytable-cell-14-0-8">@info.RunCount</div>
                                </td>
                                <td data-field="Title">
                                    <div class="layui-table-cell laytable-cell-14-0-9">
                                        <button class="layui-btn layui-btn-sm" @onclick="()=>GotoUpdate(info.Id)">编辑</button>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <PageSplit PageIndex="@PageIndex" PageSize="@_pageSize" TotalCount="@_totalCount" PageUrl="/fss/task_group/list/{index}"></PageSplit>
        </div>
    </div>
</div>
<style>
    .laytable-cell-14-0-0{ width: 80px; }
    .laytable-cell-14-0-1{ width: 100px; }
    .laytable-cell-14-0-2{ width: 300px; }
    .laytable-cell-14-0-3{ width: 150px; }
    .laytable-cell-14-0-4{ width: 120px; }
    .laytable-cell-14-0-5{ width: 150px; }
    .laytable-cell-14-0-6{ width: 150px; }
    .laytable-cell-14-0-7{ width: 80px; }
    .laytable-cell-14-0-8{ width: 80px; }
    .laytable-cell-14-0-9{ width: 80px; }
</style>

@code{

    [Parameter] public int PageIndex { get; set; }
    private int _totalCount;
    private int _pageSize = 20;

    private List<TaskGroupVO> _lst = new();
    private bool _isFirst;

    protected override async Task OnParametersSetAsync()
    {
        if (_isFirst) return;
        _isFirst = true;

        _lst = await _iocManager.Resolve<ITaskGroupList>().ToListAsync();
        _lst = _lst.OrderByDescending(o => o.Id).ToList();
        _totalCount = _lst.Count;
        _lst = _lst.ToList(_pageSize, PageIndex);
    }

    private string GetTimeSetting(TaskGroupVO group)
    {
        return !string.IsNullOrWhiteSpace(@group.Cron) ? @group.Cron : $"{@group.IntervalMs} ms";
    }

    private async Task RefreshCache()
    {
        await _iocManager.Resolve<ITaskGroupList>().ToListAndSaveAsync();
        await js.InvokeVoidAsync("layer.alert", "刷新成功", new {icon = 1});
        nav.NavigateTo("/fss/task_group/list");
    }

    private void GotoAdd()
    {
        nav.NavigateTo("/fss/task_group/add");
    }

    private void GotoUpdate(int id)
    {
        nav.NavigateTo($"/fss/task_group/update/{id}");
    }
}