@page "/builder/list"
@using FOPS.Application.Build.Build
@using FOPS.Application.Build.Cluster
@using FOPS.Application.Build.Cluster.Entity
@using FOPS.Application.Build.Git
@using FOPS.Application.Build.Git.Entity
@using FOPS.Application.Build.Project
@using FOPS.Application.Build.Project.Entity
@using FOPS.Application.Build.ProjectGroup
@using FOPS.Application.Build.ProjectGroup.Entity
@using FOPS.Domain.Build.Project.Entity
@using FOPS.Application.Build
@using FOPS.Application.Build.DockerfileTpl
@using FOPS.Application.Build.DockerfileTpl.Entity

@inject IJSRuntime Js;
@inject ProjectApp ProjectApp;
@inject ProjectGroupApp ProjectGroupApp;
@inject GitApp GitApp;
@inject ClusterApp ClusterApp;
@inject DockerfileTplApp DockerfileTplApp;
@inject BuildApp BuildApp;
@inject KubectlSetImageApp KubectlSetImageApp;

<div class="layui-row layui-col-space10">
    <div class="layui-col-xs6 layui-col-md8">
        <div class="layui-card">
            <div class="layui-card-header">
                构建
                <select style="display:inline;width: 200px;" @onchange="GroupChange">
                    <option value="0">全部</option>
                    @foreach (var projectGroupVO in _lstGroup)
                    {
                        <option value="@projectGroupVO.Id">@projectGroupVO.Name</option>
                    }
                </select>

                <select style="display:inline;width: 200px;" @onchange="ClusterChange">
                    @foreach (var clusterVO in _lstCluster)
                    {
                        <option value="@clusterVO.Id">@clusterVO.Name - @clusterVO.RuntimeEnvType</option>
                    }
                </select>
                <div class="layui-right">
                    <button class="layui-btn layui-btn-danger" @onclick="AddAllBuild"><i class="am-icon-plus"></i> 全部构建</button>
                </div>
            </div>
            <div class="layui-card-body">
                <div class="layui-form layui-border-box layui-table-view" lay-filter="LAY-table-1" style="">
                    <div class="layui-table-box">
                        <div class="layui-table-header">
                            <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="auto" lay-size="sm">
                                <thead>
                                <tr>
                                    <th data-field="ID">
                                        <div class="layui-table-cell laytable-cell-14-0-0">
                                            <span>ID</span>
                                        </div>
                                    </th>
                                    <th data-field="Type">
                                        <div class="layui-table-cell laytable-cell-14-0-1">
                                            <span>项目名称</span>
                                        </div>
                                    </th>
                                    <th data-field="Type">
                                        <div class="layui-table-cell laytable-cell-14-0-2">
                                            <span>Dockerfile</span>
                                        </div>
                                    </th>
                                    @* <th data-field="Type"> *@
                                    @*     <div class="layui-table-cell laytable-cell-14-0-2"> *@
                                    @*         <span>git拉取</span> *@
                                    @*     </div> *@
                                    @* </th> *@
                                    <th data-field="Type">
                                        <div class="layui-table-cell laytable-cell-14-0-3">
                                            <span>镜像版本</span>
                                        </div>
                                    </th>
                                    <th data-field="Type">
                                        <div class="layui-table-cell laytable-cell-14-0-3">
                                            <span>集群版本</span>
                                        </div>
                                    </th>
                                    <th data-field="Type">
                                        <div class="layui-table-cell laytable-cell-14-0-4">
                                            <span>上次成功</span>
                                        </div>
                                    </th>
                                    <th data-field="Type">
                                        <div class="layui-table-cell laytable-cell-14-0-5">
                                            <span>上次失败</span>
                                        </div>
                                    </th>
                                    <th data-field="Type">
                                        <div class="layui-table-cell laytable-cell-14-0-6">
                                            <span>操作</span>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="layui-table-body layui-table-main">
                            <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="auto" lay-size="sm">
                                <tbody>
                                @foreach (var info in _lst)
                                {
                                    <tr>
                                        <td>
                                            <div class="layui-table-cell laytable-cell-14-0-0"> @info.Id</div>
                                        </td>
                                        <td>
                                            <div class="layui-table-cell laytable-cell-14-0-1">
                                                <a href="/project/update/@info.Id">@info.Name</a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="layui-table-cell laytable-cell-14-0-2">
                                                @_lstDockerfileTpl.Find(o=>o.Id==info.DockerfileTpl)?.Name
                                            </div>
                                        </td>
                                        @* <td> *@
                                        @*     <div class="layui-table-cell laytable-cell-14-0-2"> *@
                                        @*         <span>@((DateTime.Now - info.GitPullAt).GetDateDesc())</span> *@
                                        @*     </div> *@
                                        @* </td> *@
                                        <td>
                                            <div class="layui-table-cell laytable-cell-14-0-3">
                                                @info.DockerVer
                                            </div>
                                        </td>
                                        <td>
                                            <div class="layui-table-cell laytable-cell-14-0-3">
                                                @info.DicClusterVer[_clusterId].DockerVer
                                            </div>
                                        </td>
                                        <td>
                                            <div class="layui-table-cell laytable-cell-14-0-4">
                                                @if (info.DicClusterVer[_clusterId].DeploySuccessAt.Year >= 2021)
                                                {
                                                    <a href="/builder/log/@info.DicClusterVer[_clusterId].BuildSuccessId">@((DateTime.Now - info.DicClusterVer[_clusterId].DeploySuccessAt).GetDateDesc())</a>
                                                }
                                            </div>
                                        </td>
                                        <td>
                                            <div class="layui-table-cell laytable-cell-14-0-5">
                                                @if (info.DicClusterVer[_clusterId].DeployFailAt.Year >= 2021)
                                                {
                                                    <a href="/builder/log/@info.DicClusterVer[_clusterId].BuildFailId">@((DateTime.Now - info.DicClusterVer[_clusterId].DeployFailAt).GetDateDesc())</a>
                                                }
                                            </div>
                                        </td>
                                        <td>
                                            <div class="layui-table-cell laytable-cell-14-0-6">
                                                <button class="layui-btn layui-btn-sm layui-btn-danger" @onclick="() => AddBuild(info)">构建</button>
                                                <button class="layui-btn layui-btn-sm" @onclick="() => SyncImages(info)">同步</button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <PageSplit PageIndex="1" PageSize="@_pageSize" TotalCount="@_totalCount" PageUrl="/builder/list/{index}"></PageSplit>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-xs6 layui-col-md4">
        <div class="layui-card">
            <div class="layui-card-header" id="anchor-play-header">
                构建队列
            </div>
            <div class="layui-card-body">
                <div class="layui-form layui-border-box layui-table-view" lay-filter="LAY-table-1">
                    <div class="layui-table-box">
                        <BuildList></BuildList>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .laytable-cell-14-0-0{ width: 60px; }
    .laytable-cell-14-0-1{ width: 170px; }
    .laytable-cell-14-0-2{ width: 170px; }
    .laytable-cell-14-0-3{ width: 80px; }
    .laytable-cell-14-0-4{ width: 110px; }
    .laytable-cell-14-0-5{ width: 110px; }
    .laytable-cell-14-0-6{ width: 140px; }
</style>

@code{

    private int _totalCount;
    private int _pageSize = 999;

    private List<ProjectDTO> _lst = new();
    private List<ClusterDTO> _lstCluster = new();
    private List<GitDTO> _lstGit = new();
    private List<ProjectGroupDTO> _lstGroup = new();
    private List<DockerfileTplDTO> _lstDockerfileTpl = new();

    private int _clusterId;
    private int _groupId;

    bool _isFirst;

    protected override async Task OnInitializedAsync()
    {
        if (_isFirst) return;
        _isFirst = true;

        _lstGroup = await ProjectGroupApp.ToListAsync() ?? new();
    // Git
        _lstGit = await GitApp.ToListAsync() ?? new();

    // 集群
        _lstCluster = await ClusterApp.ToListAsync() ?? new();
        if (_lstCluster.Count > 0) _clusterId = _lstCluster[0].Id;

        _lstDockerfileTpl = await DockerfileTplApp.ToListAsync() ?? new();
        await GetList();
    }

    private Task ClusterChange(ChangeEventArgs args)
    {
        _clusterId = args.Value.ConvertType(0);
        _lst = new();
        return GetList();
    }

    private Task GroupChange(ChangeEventArgs args)
    {
        _groupId = args.Value.ConvertType(0);
        _lst = new();
        return GetList();
    }

    private async Task GetList()
    {
    // 重新读取所有项目列表
        _lst = _groupId > 0 ? await ProjectApp.ToListAsync(_groupId) :
        await ProjectApp.ToListAsync();
        _lst ??= new();

    // 遍历项目组ID
        var projectGroupIds = _lst.Select(o => o.GroupId).Distinct().ToList();
        foreach (var projectGroupId in projectGroupIds)
        {
            var id = projectGroupId;
            var projectGroup = _lstGroup.Find(o => o.Id == id);
            if (projectGroup == null) continue;

    // 如果项目组不包含当前选中的集群，则移除项目
            if (!projectGroup.ClusterIds.Contains(_clusterId))
                _lst.RemoveAll(o => o.GroupId == projectGroupId);
        }

        _lst = _lst.OrderByDescending(o => o.Id).ToList();
        _totalCount = _lst.Count;

        foreach (var project in _lst)
        {
            var git = _lstGit.Find(o => o.Id == project.GitId);
            if (git == null) continue;
            project.GitId = git.Id;
            project.GitPullAt = git.PullAt;

            if (!project.DicClusterVer.ContainsKey(_clusterId))
                project.DicClusterVer[_clusterId] = new ClusterVerVO
                {
                    DockerVer = "0"
                };
        }
    }

    private async Task AddBuild(ProjectDTO project)
    {
        var load = await Js.InvokeAsync<int>("layer.load", 0, "{shade: false}");
        try
        {
            await BuildApp.AddAsync(project.Id, _clusterId);
            await GetList();
            await Js.InvokeVoidAsync("layer.msg", "已加入到队列", new
            {
                icon = 1,
                title = "执行结果"
            });
        }
        catch (Exception e)
        {
            await Js.InvokeVoidAsync("layer.alert", e.Message, new
            {
                icon = 2,
                title = "加入失败"
            });
        }
        await Js.InvokeVoidAsync("layer.close", load);
    }

    private async Task AddAllBuild()
    {
        if (_lst.Count == 0)
        {
            await Js.InvokeVoidAsync("layer.msg", "当前没有需要构建的项目");
            return;
        }
        var load = await Js.InvokeAsync<int>("layer.load", 0, "{shade: false}");
        try
        {
            await BuildApp.AddAsync(_lst, _clusterId);
            await Js.InvokeVoidAsync("layer.msg", "已加入到队列", new
            {
                icon = 1,
                title = "执行结果"
            });
        }
        catch (Exception e)
        {
            await Js.InvokeVoidAsync("layer.alert", e.Message, new
            {
                icon = 2,
                title = "加入失败"
            });
        }
        await Js.InvokeVoidAsync("layer.close", load);
    }

    /// 同步集群镜像版本
    private async Task SyncImages(ProjectDTO project)
    {
        var load = await Js.InvokeAsync<int>("layer.load", 0, "{shade: false}");
        try
        {
            var lstLog = new List<string>();
            var progress = new Progress<string>(log =>
            {
                lstLog.Add(log);
            });

            var execSuccess = await KubectlSetImageApp.SyncImages(_clusterId, project, progress);
            if (!execSuccess)
                await Js.InvokeVoidAsync("layer.alert", lstLog.ToString("<br />"), new
                {
                    icon = 2,
                    title = "出错了"
                });
            else
            {
                await BuildApp.Success(_clusterId, project, 0);
                await GetList();
                await Js.InvokeVoidAsync("layer.msg", lstLog.ToString("<br />"), new
                {
                    icon = 1,
                    title = "执行结果"
                });
            }
        }
        catch (Exception e)
        {
            await Js.InvokeVoidAsync("layer.alert", e.Message, new
            {
                icon = 2,
                title = "加入失败"
            });
        }
        await Js.InvokeVoidAsync("layer.close", load);
    }

}