@page "/link_track/slow/http"
@page "/link_track/slow/http/{pageIndex:int}"
@using Microsoft.AspNetCore.Components
@using FS.Core.LinkTrack
@using FS.Extends
@using FS.LinkTrack
@using FS.LinkTrack.Dal
@using FOPS.Abstract.MetaInfo.Entity
@using FOPS.Abstract.MetaInfo.Server
@inject IIocManager _iocManager;
@inject NavigationManager nav;
@inject IJSRuntime js;

<div class="layui-card">
    <div class="layui-card-header" id="anchor-play-header">
        应用
        <select style="display:inline;width: 200px;" @onchange="GroupChange">
            <option value="">全部</option>
            @foreach (var projectVO in _lstAppId)
            {
                <option value="@projectVO.AppId">@projectVO.AppId</option>
            }
        </select>
        <div class="layui-input-inline w100">
            <input type="text" class="layui-input" placeholder="地址" style="height: 30px;width:400px;" @bind="searchMethod">
        </div>
        <div class="layui-input-inline w100">
            <input type="text" class="layui-input" placeholder="耗时" style="height: 30px;width:60px;" @bind="searchUseTs">
        </div>
        <select style="display:inline;width: 150px;" @onchange="SortChange">
            <option value="0">按最新时间</option>
            <option value="60">1小时耗时最高</option>
            <option value="30">30分钟耗时最高</option>
            <option value="10">10分钟耗时最高</option>
            <option value="5">5分钟耗时最高</option>
            <option value="1">1分钟耗时最高</option>
        </select>
        <div class="layui-input-inline">
            <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="orders-market-search-submit" @onclick="GetList"><i class="am-icon-search"></i> 搜索</button>
        </div>
    </div>
    <div class="layui-card-body">
        <div class="layui-form layui-border-box layui-table-view" lay-filter="LAY-table-1" style=" ">
            <div class="layui-table-box">
                <div class="layui-table-header">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="auto" lay-size="sm">
                        <thead>
                        <tr>
                            <th data-field="ID">
                                <div class="layui-table-cell laytable-cell-14-0-0">
                                    <span>AppId</span>
                                </div>
                            </th>
                            <th data-field="Type">
                                <div class="layui-table-cell laytable-cell-14-0-1">
                                    <span>ContextId</span>
                                </div>
                            </th>
                            <th data-field="Type">
                                <div class="layui-table-cell laytable-cell-14-0-2">
                                    <span>请求时间</span>
                                </div>
                            </th>
                            <th data-field="Type">
                                <div class="layui-table-cell laytable-cell-14-0-3">
                                    <span>耗时</span>
                                </div>
                            </th>
                            <th data-field="ID">
                                <div class="layui-table-cell laytable-cell-14-0-4">
                                    <span>地址</span>
                                </div>
                            </th>
                            <th data-field="Type">
                                <div class="layui-table-cell laytable-cell-14-0-7">
                                    <span>操作</span>
                                </div>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="layui-table-body layui-table-main">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="auto" lay-size="sm">
                        <tbody>
                        @for (var index = 0; index < _lst.Count; index++)
                        {
                            var info = _lst[index];
                            <tr data-index="@index">
                                <td>
                                    <div class="layui-table-cell laytable-cell-14-0-0"> @info.AppId</div>
                                </td>
                                <td data-field="Title">
                                    <div class="layui-table-cell laytable-cell-14-0-1">
                                        <a href="/link_track/link/info/@(info.ContextId)">@info.ContextId</a>
                                    </div>
                                </td>
                                <td data-field="Title">
                                    <div class="layui-table-cell laytable-cell-14-0-2">
                                        @info.StartTs.ToTimestamps().ToString("yyyy-MM-dd HH:mm:ss")
                                    </div>
                                </td>
                                <td data-field="Title">
                                    <div class="layui-table-cell laytable-cell-14-0-3">
                                        @if (info.UseTs >= 100)
                                        {
                                            <strong class="layui-badge layui-bg-red">@(info.UseTs) ms</strong>
                                        }
                                        else if (info.UseTs >= 50)
                                        {
                                            <strong class="layui-badge layui-bg-blue">@(info.UseTs) ms</strong>
                                        }
                                        else
                                        {
                                            <span>@(info.UseTs) ms</span>
                                        }
                                    </div>
                                </td>
                                <td>
                                    <div class="laytable-cell-14-0-4">
                                        <strong class="layui-badge layui-bg-green">@info.HttpMethod</strong> @info.HttpUrl
                                    </div>
                                </td>
                                <td data-field="Title">
                                    <div class="layui-table-cell laytable-cell-14-0-7">
                                        <button class="layui-btn layui-btn-sm" @onclick="o => ShowBody(info)">查看报文</button>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <PageSplit PageIndex="@PageIndex" PageSize="@_pageSize" TotalCount="@_totalCount" PageUrl="/link_track/slow/http/{index}"></PageSplit>
        </div>
    </div>
</div>
<style>
    .laytable-cell-14-0-0{ width: 130px; }
    .laytable-cell-14-0-1{ width: 160px; }
    .laytable-cell-14-0-2{ width: 150px; }
    .laytable-cell-14-0-3{ width: 100px; }
    .laytable-cell-14-0-4{ width: 500px; }
    .laytable-cell-14-0-5{ width: 160px; }
    .laytable-cell-14-0-6{ width: 500px; }
    .laytable-cell-14-0-7{ width: 150px; }
    select { width: 150px; }
</style>

@code{

    private int _lastIndex;
    private long _totalCount;
    private int _pageSize = 20;
    [Parameter]
    public int PageIndex { get; set; }
    private bool _isFirst;
    private List<SlowQueryPO> _lst = new();
    private List<ProjectVO> _lstAppId = new();
    private string _curAppId = "";
    private string _curSort = "0";

    private string searchMethod;
    private string searchUseTs;

    protected override async Task OnParametersSetAsync()
    {
        if (_isFirst && _lastIndex == PageIndex) return;
        _isFirst = true;

        if (PageIndex < 1) PageIndex = 1;
        _lastIndex = PageIndex;

        _lstAppId = await _iocManager.Resolve<IProjectService>().ToAppListAsync() ?? new();
        GetList();
    }
    private void GroupChange(ChangeEventArgs args)
    {
        _curAppId = args.Value.ToString();
        GetList();
    }
    private void SortChange(ChangeEventArgs args)
    {
        _curSort = args.Value.ToString();
        GetList();
    }
    public void GetList()
    {
        searchMethod = searchMethod?.Trim();
        var indexSet = LinkTrackEsContext.Data.SlowQuery
                                         .Where(o => o.CallType == EumCallType.HttpClient)
                                         .Where(o => o.AppId == _curAppId)
                                         .Where(o => o.HttpUrl.Contains(searchMethod))
                                         .Where(o => o.UseTs >= searchUseTs.ConvertType(0));
        
        if (_curSort == "0") indexSet.Desc(d => d.StartTs);
        else
        {
            indexSet.Where(o => o.StartTs >= DateTime.Now.AddMinutes(-_curSort.ConvertType(0)).ToTimestamps()).Desc(d => d.UseTs);
        }
        _lst = indexSet.ToList(_pageSize, PageIndex, out _totalCount);
    }

    // 显示报文详情
    private async Task ShowBody(SlowQueryPO info)
    {
        var lstContent = new List<string>();
        var useTsHtml = $"<span>整体耗时：{info.UseTs} ms</span>";
        if (info.UseTs >= 100)
        {
            useTsHtml = $"<span>整体耗时：<strong class='layui-badge layui-bg-red'>{info.UseTs} ms</strong></span>";
        }
        else if (info.UseTs >= 50)
        {
            useTsHtml = $"<span>整体耗时：<strong class='layui-badge layui-bg-blue'>{info.UseTs} ms</strong></span>";
        }

        lstContent.Add($"<pre class='layui-code layui-box layui-code-view' style='font-size: 14px;'>{info.StartTs.ToTimestamps():yyyy-MM-dd HH:mm:ss} <strong class='layui-badge layui-bg-green'>{info.HttpMethod} =></strong> {info.HttpUrl} {useTsHtml}</pre>");
        if (!string.IsNullOrWhiteSpace(info.HttpRequestBody))
        {
            lstContent.Add($"<pre class='layui-code layui-box layui-code-view' style='font-size: 14px;'><strong class='layui-badge layui-bg-green'>地址：</strong>{info.HttpRequestBody}</pre>");
        }

        await js.InvokeVoidAsync("layer.open", new
        {
            type = 1,
            skin = "layui-layer-molv",
            closeBtn = false,
            area = "1500px",
            anim = 10,
            shadeClose = true,
            title = $"{info.AppId} {info.ContextId}",
            content = string.Join("", lstContent)
        });
    }
}